pandas
seaborn
numpy
matplotlib
transformers 
diffusers 
moviepy 
opencv-python 
gtts
torch
torchvision
torchaudio
accelerate
scikit-learn
plotly
nbformat
ipywidgets
streamlit
nltk
natsort
# pip install --upgrade imageio\[ffmpeg\]